/*

  Auteur: Siemen van de Braak, Gigi, Thijs Kivit
  Aanmaakdatum: 06-04-2022

  Omschrijving: navbar

*/

/* custom font inladen */
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@700&display=swap');

/*
zorgt ervoor dat padding en border geen effect hebben op de breedte
font als default meegeven voor alles
*/

*,
::before,
::after
{
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-family: 'Sintony';
  letter-spacing: 1px;
  --tw-content: '';
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}

/* font inladen en positionering */
html
{
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: Sintony, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/* margin weghalen */
body
{
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
font style veranderen in alle browsers
margin weghalen voor Firefox en Safari
default margin weghalen
*/

button,
input,
optgroup,
select,
textarea
{
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/* list styling weghalen en default margins en padding verwijderen */
ol,
ul,
menu
{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* positoinering en achtergrond kleur */
#nav
{
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  background-color: #0085ca;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* positionering */
#header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* class hidden verbergen */
.hidden
{
  display: none;
}

/* positionering */
#navbar
{
  gap: 3rem;
}

/* tekst kleur en groote */
.navbarItem
{
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #ffffff;
}

/* underline op hover */
.navbarItem:hover
{
  text-decoration: underline;
}

/* verbergt de invisibleArea maar geeft wel spacing mee */
#invisibleArea
{
  visibility: hidden;
  padding: 0.75rem 2rem 0.75rem 2rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

/* positionering font groote en kleur */
#mobileNavbarButton
{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #EF2B2D;
  cursor: pointer;
}

/* breedte voor de svg */
#svg
{
  height: 2.5rem;
  width: 2.5rem;
}
/* positionering en tekst groote en kleur achtergrond */
#mobileNav
{
  border-radius: 0.5rem;
  background-color: #0085ca;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* positionering en breedte */
.liItem
{
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
/* positionering en groote / kleur tekst  */
.linkItem
{
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #ffffff;
}
/* op hover krijgt het underlining */
.linkItem:hover
{
  text-decoration: underline;
}

/* 
1. Mediaqueries
2. min-width mediaqueries
*/

/* 1024px */
@media (min-width: 1024px)
{
  #navbar
  {
    display: flex;
  }
  /* positionering */
  #invisibleArea
  {
    display: inline-block;
  }
}

/* 768px */
@media (min-width: 768px)
{
  /* positionering */
  #nav
  {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #header
  {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #invisibleArea
  {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #mobileNavbarButton
  {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* 
max-width mediaqueries
*/

/* 1024px */
@media (max-width: 1024px)
{
  /* zorgt dat het verbogen wordt */
  .hidden-mobile
  {
    display: none;
  }
}